*{margin:0;padding:0;font-family:"Source Sans Pro";}

.middle {
    width: 249px;
    height: 97px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
}
.text {
    font-weight: 300;
    font-size: 32px;
    color: #333;
    text-align: center;
    opacity: 0;
    top: 50px;
    position: relative;
}
.hr {
    margin-top: 12px;
    height: 1px;
    width: 262px;
    margin-left: -262px;
    background-color: #bbb;
}
.desc {
    font-weight: 301;
    font-size: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
}
.desc span {
    margin-top: -24px;
    display: block;
}