
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>巧米捏塑工作坊</title>



    <link rel="stylesheet" href="~/Content/index.css">


</head>

<body>
    <p style="padding-top:50px"></p>
    <h1 style="padding-left:50px">C</h1>
    <h2 style="padding-left:50px">H</h2>
    <h3 style="padding-left:50px">A</h3>
    <h4 style="padding-left:50px">R</h4>
    <p style="padding-left:50px">M</p>
    <h5 style="padding-left:50px">I</h5>
    <h6 style="padding-left:50px">N</h6>
    <h6 style="padding-left:50px">G</h6>
    <h2 style="padding-left:50px">F</h2>
    <h3 style="padding-left:50px">I</h3>
    <h4 style="padding-left:50px">G</h4>
    <p style="padding-left:50px">U</p>
    <h5 style="padding-left:50px">R</h5>
    <h5 style="padding-left:50px">I</h5>
    <h6 style="padding-left:50px">N</h6>
    <h6 style="padding-left:50px">E</h6>

    <a href="http://localhost:57260/Home/About">
        <div id="logo">
            <div id="green-circle-1">
                <div id="green-circle-2">
                    <span class="top char0">
                        <p></p>
                    </span><span class="top char1">
                    </span><span class="top char2">
                    </span><span class="top char3">
                    </span><span class="top char4">
                    </span><span class="top char5">
                    </span><span class="top char6">
                    </span><span class="top char7">
                    </span><span class="top char8">
                    </span><span class="bottom char0">
                    </span><span class="bottom char1">
                    </span><span class="bottom char2">
                    </span><span class="bottom char3">
                    </span><span class="bottom char4">
                    </span><span class="bottom char5">
                        <p></p>
                    </span>
                    <div id="white-circle-1">
                        <span>
                            <img class="logoImg" src="~/Image/Logo.png" width="80%">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</body>
</html>
