
@{
                /**/

                ViewBag.Title = "Portfolio";

}
<link href="~/Content/gallery.css" rel="stylesheet" type="text/css" />

<div class="container body-content">
    <span class="border-top-20">
        <hr>
    </span>


    <div class="toolbar mb2 mt2">

        <button class="btn fil-cat" id="portfoliobtn" href="" data-rel="all">All</button>
        <button class="btn fil-cat" id="portfoliobtn" data-rel="web">傳統</button>
        <button class="btn fil-cat" id="portfoliobtn" data-rel="flyers">人像公仔</button>
        <utton class="btn fil-cat" id="portfoliobtn" data-rel="bcards">可愛造型</utton>
    </div>

    <div id="portfolio">
        <div class="tile scale-anm web all">
            <img src="~/Image/a1.jpg" alt="" />
        </div>
        <div class="tile scale-anm bcards all">
            <img src="~/Image/b1.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a2.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a3.jpg" alt="" />
        </div>
        <div class="tile scale-anm flyers all">
            <img src="~/Image/c1.jpg" alt="" />
        </div>
        <div class="tile scale-anm bcards all">
            <img src="~/Image/b2.jpg" alt="" />
        </div>
        <div class="tile scale-anm flyers all">
            <img src="~/Image/c2.jpg" alt="" />
        </div>
        <div class="tile scale-anm flyers all">
            <img src="~/Image/c3.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a4.jpg" alt="" />
        </div>
        <div class="tile scale-anm flyers all">
            <img src="~/Image/c4.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a5.jpg" alt="" />
        </div>
        <div class="tile scale-anm bcards all">
            <img src="~/Image/b3.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a6.jpg" alt="" />
        </div>
        <div class="tile scale-anm bcards all">
            <img src="~/Image/b4.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a7.jpg" alt="" />
        </div>
        <div class="tile scale-anm web all">
            <img src="~/Image/a8.jpg" alt="" />
        </div>
        <div class="tile scale-anm bcards all">
            <img src="~/Image/b5.jpg" alt="" />
        </div>
    </div>

    <div style="clear:both;"></div>
</div>

<script src="~/Scripts/gallery.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

